h1.titulo {
    color: skyblue;
    font-size: 30px;
    font-style: italic;
    }
    .texto {
    color: darkblue;
    font-size: 15px;
    }
    .destacado {
    font-style: italic;
    font-weight: bold;
    }
    #especial {
        font-weight: bold;
        color: darkblue;
        font-size: 15px;
    }
    body {
        padding: 50px 50px 50px 50px;
        background-color: beige; 
    }